/* MusicPlayer.css */
.music-player-container {
  display: inline-flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Change to cover full screen height */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #212121;
  color: #fff;
  overflow: hidden;
  position: relative;
  border: 1px solid #333; /* Add border for grid lines */
  display: grid; /* Use grid for better layout control */
  grid-template-columns: 1fr; /* Single column layout */
  grid-template-rows: auto auto 1fr auto; /* Define grid rows */
  grid-gap: 20px; /* Add gap between grid items */
}

.current-song {
  position: relative; /* Change to relative */
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1; /* Span across all columns */
}

.current-song img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-right: 20px;
}

.current-song-details {
  text-align: left;
}

.current-song-details h5,
.current-song-details p {
  margin: 0;
  color: #fff; /* Light text color */
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1; /* Span across all columns */
}

.toggle-form-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #1ed760;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-form-button:hover {
  background-color: #168e52;
}

.music-form-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  background-color: #ff3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}