/* nextSongPreview.css */

.next-song-preview {
  position: relative;
  top: 10px;
  right: 10px;
  background-color: #212121; /* Darker background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.next-song-preview img {
  width: 160px;
  height: 160px;
  border-radius: 4px;
}

.next-song-preview .next-song-details {
  padding: 10px;
}

.next-song-preview h6,
.next-song-preview p {
  margin: 0;
  color: #fff; /* Light text color */
}

.next-song-preview:hover {
  transform: translateY(-4px);
}
